### Template for data_scrapping on twitter

In [16]:
#install library first
import os
import tweepy as tw
import pandas as pd
import numpy as np

### Use API Key you request on dev-twitter

In [17]:
API_key = ''
API_secret = ''
access_token = ''
access_token_secret = ''
auth = tw.OAuthHandler(API_key, API_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth)

### Searching twitt

In [35]:
def get_related_tweets(key_word):
    twitter_users = []
    tweet_time = []
    tweet_string = [] 
    for tweet in tw.Cursor(api.search_tweets,q=key_word, lang = 'id',  count=1000).items(1000):
            if (not tweet.retweeted) and ('RT @' not in tweet.text):
                twitter_users.append(tweet.user.name)
                tweet_time.append(tweet.created_at)
                tweet_string.append(tweet.text)
                    #print([tweet.user.name,tweet.created_at,tweet.text])
    df = pd.DataFrame({'name':twitter_users, 'time': tweet_time, 'tweet': tweet_string})
    df.to_csv(f"{key_word}.csv")
    return df

In [36]:
tweets_df = get_related_tweets("pelecehan seksual")
tweets_df.head(5)

,name,time,tweet
0,Ali (txtdariorangsambat),2022-05-24 13:44:18+00:00,@DuitTerooosss @BearHugKaos @nirrvanass @itsyu...
1,cihoo,2022-05-24 13:41:31+00:00,@14Mazaya @ziyozyo @natadecoo_ PELECEHAN SEKSU...
2,cihoo,2022-05-24 13:40:52+00:00,@14Mazaya @natadecoo_ Tolol Lo!!!! PELECEHAN S...
3,Ÿãüßöüèª‚Äç‚ôÄÔ∏è,2022-05-24 13:37:11+00:00,@janetktrn @detikcom lol idgaf he‚Äôs still pela...
4,sportstarsid,2022-05-24 13:32:20+00:00,"Pebulu tangkis Indonesia, Yeremia Rambitan dik..."